<h1>QuestionsController#answer</h1>
<br><br>

<h1> <%= @msg %>?</h1><br>
<h2><%= @answer %></h2>

<br><br>
<%= link_to "Ask another question?", ask_path %>
<br><br><br><br><br>
<p>Find me in app/views/questions_controller/answer.html.erb</p>
