<h1>QuestionsController#ask</h1>
<br><br>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Ask a question to your Coach....">
  <input type="submit">
</form>

<br><br><br><br><br>
<p>Find me in app/views/questions_controller/ask.html.erb</p>
 